<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.svg">
  <link rel="mask-icon" href="favicon.svg">

  {%- seo -%}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/21.0.9/primer.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  {%- if page.url == "/" -%}
    <script src="{{ "/assets/js/glider/glider.min.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/js/glider/glider.min.css" | relative_url }}">
  {%- endif -%}

  <script src="{{ "/assets/js/clipboard.min.js" | relative_url }}"></script>

  {%- feed_meta -%}

</head>