.masthead,
.band {
	display: grid;
	margin: 0 auto;
}

	.masthead {
		grid-template-columns: [left] $whitespace [margin-left] 5fr [title-card-right] calc(5 * $whitespace) [splash-left] 7fr [margin-right] $whitespace [right];
		padding-top: $whitespace-large;
		max-width: $max-width;
	}

	.title-card {
		grid-column-start: margin-left;
		grid-column-end: margin-right;
		padding: $whitespace-large 0 $whitespace-large $whitespace-large;

		@include break-medium {
			grid-column-end: title-card-right;
		}
	}

		.title-card h1 {
			margin-bottom: $whitespace-large;

			@include break-medium {
				margin: calc(1.5 * $whitespace-large) 0;
			}
		}

		.title-card p {
			font-size: $font-size-large;
			max-width: 30rem;
		}

		.title-card .arrow-icon {
			padding: $whitespace-large 0;
		}

	.splash {
		grid-column-start: margin-left;
		grid-column-end: right;
		/*overflow: hidden;*/

		@include break-medium {
			grid-column-start: splash-left;
			grid-column-end: right;
		}
	}

		.svg-browser {
			margin-left: 20%;
		}

		.svg-book {
			margin-top: -16rem;
			margin-right: $whitespace;
			width: auto;
		}

			.svg-book svg {
				max-width: 100%;
			}

			/*
			.svg-book .wrapper {
				margin-top: -16rem;
				max-width: 90%;
				position: relative;
			}

			.svg-book .wrapper svg {
				z-index: 2;
			}

			.svg-book .wrapper::after {
				content: "";
				position: absolute;
				top: calc(2 * $whitespace);
				left: calc(2 * $whitespace);
				width: calc(100% - (2 * $whitespace));
				height: calc(100% - (0.5 * $whitespace));
				background-image: $dither;
			}
			*/

.pink.band,
.white.band,
.blue.band {
	width: 100%;
	margin-top: -6rem;
	padding-top: 4rem;

	@include break-phone {
		padding-top: 6rem;
	}

	@include break-medium {
		padding-top: 5rem;
	}
}

	.pink.band {
		background-color: $red-pale;
		z-index: -3;
	}

	.white.band {
		background-color: $white;
		z-index: -2;
	}

	.blue.band {
		background-color: $blue;
		z-index: -1;

		margin-top: -7.5rem;
		padding-top: calc(7.5rem + 2 * $whitespace-large);
	}

		.blue.band .methods-image {
			margin-left: calc(-2 * $whitespace-large);
		}

	.pink.band .wrapper {
		display: grid;
		width: 100%;
		max-width: $max-width;
		margin: 0 auto;
		grid-template-columns: [left] $whitespace-large [margin-left] auto [margin-right] $whitespace-large [right];
	}

	.wrapper .dither {
		height: $whitespace-large;
		grid-column-start: margin-left;
		grid-column-end: margin-right;
	}

	.pink.band .wrapper .dither {
		background: $dither-red;
	}

	.white.band .wrapper .dither {
		background: $dither-blue;
	}

	.blue.band .wrapper {
		display: grid;
		width: 100%;
		max-width: $max-width;
		margin: 0 auto;
		grid-template-columns: [left] $whitespace-large [margin-left] auto [image-right] calc(3 * $whitespace-large) [intro-left] 1fr [margin-right] $whitespace-large [right];
		grid-template-rows: [top] auto [gutter] auto [bottom];
	}

		.blue.band .wrapper .methods-image {
			grid-column-start: left;
			grid-column-end: margin-right;
			grid-row-start: top;
			grid-row-end: gutter;
			overflow: hidden;

			@include break-medium {
				grid-column-start: left;
				grid-column-end: image-right;
				grid-row-start: top;
				grid-row-end: bottom;
			}
		}

		.blue.band .wrapper .methods-intro {
			grid-column-start: margin-left;
			grid-column-end: margin-right;
			grid-row-start: gutter;
			grid-row-end: bottom;
			max-width: $max-width-home;

			@include break-medium {
				grid-column-start: intro-left;
				grid-column-end: margin-right;
				grid-row-start: top;
				grid-row-end: bottom;
			}
		}

		.book-card {
			padding-top: $whitespace-large;
			grid-column-start: margin-left;
			grid-column-end: margin-right;
			font-size: $font-size-large;

			@include break-medium {
				padding-top: 0;
			}
		}

		.white.band .wrapper .courses-card {
			grid-column-start: margin-left;
			grid-column-end: margin-right;
			max-width: $max-width-home;
			margin: calc(2.5 * $whitespace-large) 0;
		}

		.card-text {
			max-width: $max-width-home;
		}

	.white.band .wrapper {
		width: 100%;
		max-width: $max-width;
		margin: 0 auto;
		display: grid;
		grid-template-columns: [left] $whitespace-large [margin-left] auto [margin-right] $whitespace-large [right];
	}

	.white.band .wrapper .stats-box {
		grid-column-start: margin-left;
		grid-column-end: margin-right;
	}

.methods-intro h2 + h3 {
	margin-top: 0;
}

.usyd-logo {
	margin-top: $whitespace-large;
}

	.usyd-logo svg {
		width: 10rem;
		height: auto;
		float: left;
		margin-right: $whitespace-large;
	}

	.usyd-logo span {
		font-size: $font-size-small;
		margin-top: 1rem;
		float: left;
	}

body.home #sidebar {
	display: none;
	padding-left: $whitespace;
}

	body.home #sidebar.open {
		display: block;
	}

.button-set {
	margin: calc(2 * $whitespace) 0;
	font-size: $font-size-base;
}

	.button-set .button {
		padding: $whitespace $whitespace-large;
		margin-right: $whitespace-large;
		color: $white;
		background-color: $red;
	}

		.button-set .button:hover {
			color: $red;
			background: none;
			text-decoration: underline;
		}

	.button-set .text {
		display: inline-block;
		margin: $whitespace 0;
		white-space: nowrap;
	}

.stats-box {
	background-color: $white;
	border: $border;
	font-family: $font-family-mono;
	grid-column-start: margin-left;
	grid-column-end: margin-right;
	display: grid;
	grid-template-columns: [left] auto [gutter] auto [right];
	grid-template-rows: [top] auto [gutter] auto [bottom];
}

	.stats-box .stats,
	.stats-box .carousel {
		padding: $whitespace;

		@include break-medium {
			padding: calc(2 * $whitespace);
		}
	}

	.stats-box .stats {
		border-bottom: $border;
		grid-column-start: left;
		grid-column-end: right;
		grid-row-start: top;
		grid-row-end: gutter;

		@include break-medium {
			grid-column-end: gutter;
			grid-row-end: bottom;
			border-bottom: none;
			border-right: $border;
		}
	}

		.stats-box .stats h3 {
			font-size: $font-size-base;
			font-weight: inherit;
		}

		.stats-box .stats p {
			font-size: $font-size-large;
		}

		.stats-box .stats .number {
			font-size: 2.5rem;
		}

	.stats-box .carousel {
		font-size: $font-size-base;
		width: 100%;
		max-width: 17.5rem;

		@include break-phone {
			max-width: 25rem;
		}

		@include break-large {
			max-width: 32.5rem;
		}
	}

		.stats-box .carousel .glider {
			overflow-x: hidden;
		}

		.stats-box .carousel .slide {
			margin: $whitespace-large 0;
		}

			.stats-box .carousel .slide blockquote {
				font-family: $font-family-sans;
				margin: $whitespace 0;
			}

			.stats-box .carousel .slide p.attribution {
				font-size: $font-size-small;
				margin-left: 1px; /* Safari */
			}

				.stats-box .carousel .slide svg.quotation-mark {
					margin-left: 1px; /* Safari */
				}

			.stats-box .carousel #dots-book,
			.stats-box .carousel #dots-courses {
				justify-content: flex-start;
			}

				.stats-box .carousel #dots-book button,
				.stats-box .carousel #dots-courses button {
					border-radius: 0;
					margin: 0 0.25rem;
				}

					.stats-box .carousel #dots-book button:first-child,
					.stats-box .carousel #dots-courses button:first-child {
						margin-left: 0;
					}

					.stats-box .carousel #dots-book button.active,
					.stats-box .carousel #dots-courses button.active {
						background-color: $red;
					}

		.carousel-button {
			width: 1rem;
			height: 1rem;
			background-color: $colour-background-muted;
		}

.courses {
	clear: both;
}

	.course {
		clear: both;
		padding-top: $whitespace-large;
	}

	.courses .thumbnail {
		float:left;
		display: block;
		padding: $whitespace-large $whitespace-large 0 0;
	}

		.courses .thumbnail img {
			width: 12.5rem;
			height: auto;
			border: 1px solid $mid-grey;
		}

	.courses .description {
		float: left;
		display: block;
		padding-top: $whitespace-large;

		@include break-medium {
			width: calc(100% - 12.5rem - (2 * $whitespace-large));
		}
	}

	.course h3 a,
	.course h3 a:visited {
		color: inherit;
	}

		.course h3 a:hover {
			color: $red;
			text-decoration: none;
		}

.about {
	max-width: $max-width;
	margin: 0 auto;
}

	.about .wrapper {
		margin: calc(2 * $whitespace-large) $whitespace-large;
		max-width: $max-width-home;
	}

.grid-container {
	display: grid;
	grid-template-columns: [left] $whitespace [sidebar-left] $sidebar-width [sidebar-right] $whitespace-large [content-left] minmax(0, 3fr) [body-copy-right] $whitespace-large [page-nav-left] minmax(0, 1fr) [content-right] $whitespace [right];
	grid-template-rows: [top] auto [mobile-sidebar-bottom] auto [header-bottom] 1fr [content-bottom] auto [bottom];
	margin: 0 auto;
	max-width: $max-width;
}

	.grid-container .wrapper {
		grid-column-start: margin-left;
		max-width: $max-width-home;
	}

	.site-header .grid-container {
		grid-template-columns: [left] $whitespace [sidebar-left] $sidebar-width [sidebar-right] $whitespace-large [content-left] auto [search-right] auto [content-right] $whitespace [right];
	}

	/*.site-header,
	.site-footer {
		grid-column-start: left;
		grid-column-end: right;
	}*/

.page-content {
	grid-column-start: sidebar-left;
	grid-column-end: content-right;
	grid-row-start: header-bottom;
	grid-row-end: content-bottom;
	padding: 0 0 calc(2 * $whitespace-large) 0;

	@include break-medium {
		grid-column-start: content-left;
		grid-column-end: content-right;
	}

	@include break-large {
		grid-column-start: content-left;
		grid-column-end: body-copy-right;
	}
}

	.page-content.toolkit {
		@include break-large {
			grid-column-end: content-right;
		}
	}

.page-content.toolkit p {
	@include break-large {
		max-width: 75%;
	}
}

.post-header {
	grid-column-start: sidebar-left;
	grid-column-end: content-right;
	grid-row-start: mobile-sidebar-bottom;
	grid-row-end: header-bottom;
	padding-top: $whitespace;

	@include break-medium {
		grid-column-start: content-left;
	}
	
}

nav.page-nav {
	display: none;

	@include break-large {
		display: block;
		grid-column-start: page-nav-left;
		grid-column-end: content-right;
		grid-row-start: header-bottom;
	}
}

.site-header {
}

	/*
	body.home .site-header .grid-container {
		grid-template-columns: [left] 5rem [title-right] auto [search-right] 1fr [top-pages-right] $whitespace [right];

		@include break-medium {
			grid-template-columns: [left] $sidebar-width [title-right] auto [search-right] 1fr [top-pages-right] $whitespace [right];
		}
	}
	*/

	.site-header a.site-title {
		position: relative;
		color: $white;
		background-color: $red;
		font-size: 14px;
		line-height: 1;
		padding: 14px $whitespace;
		grid-column-start: left;

		@include break-medium {
			grid-column-end: sidebar-right;
		}
	}

		/*
		body.home .site-header a.site-title {
			@include break-medium {
				grid-column-end: clear;
			}
		}
		*/

		.site-header a.site-title:after {
			width: 0;
		  height: 0;
		  border-top: 0;
		  border-left: 21px solid $red;
		  border-bottom: 42px solid transparent;
		  content: "";
		  position: absolute;
		  top: 0;
		  right: -21px;
		}

		.site-header a.site-title:hover {
			text-decoration: none;
		}

		.site-header a.site-title span {
			display: inline-block;
		}

	.site-header #menu-icon {
		cursor: pointer;

		@include break-medium {
			display: none;
		}
	}

	.site-header .site-nav {
		position: absolute;
		top: 0;
		right: 0;
		padding: calc(0.5 * $whitespace);
		cursor: pointer;
		z-index: 2;
	}

	.site-header .top-pages {
		display: none;
		text-align: right;
		padding-top: $whitespace;
		grid-column-start: search-right;
		grid-column-end: content-right;

		@include break-large {
			display: inline-block;
		}
	}

	body.home .site-header .top-pages {
		@include break-medium {
			display: inline-block;
		}		
	}

#sidebar {
	display: none;
	grid-column-start: sidebar-left;
	grid-column-end: content-right;
	grid-row-start: top;
	grid-row-end: mobile-sidebar-bottom;
	border-bottom: 1px solid $mid-grey;
	padding: $whitespace 0;

	@include break-medium {
		display: block;
		grid-column-start: sidebar-left;
		grid-column-end: sidebar-right;
		grid-row-start: top;
		grid-row-end: content-bottom;
		padding-right: $whitespace;
		border-bottom: none;
		border-right: $border;
	}
}

	#sidebar.open {
		display: block;
	}

	#sidebar .top-pages {
		padding: 0 0 0.7rem 0;
	}

		#sidebar .page-nav + .top-pages {
			border-top: $border;
			padding-top: $whitespace;

			@include break-medium {
				border: none;
			}

			@include break-large {
				padding-top: 0;
			}
		}

	#sidebar .page-nav {
		padding-bottom: $whitespace;
		border-bottom: $border;
		@include break-large {
			display: none;
		}
	}

	#sidebar .letter-drawer {
		border-top: $border;
	}

		/*
		#sidebar .page-nav + .top-pages {
			@include break-large {
				border-bottom: $border;
			}
		}
		*/
		
		#sidebar .letter-drawer ul {
			display: none;
		}

			#sidebar .letter-drawer.open ul {
				display: inline-block;
			}

		#sidebar .letter-drawer:first-child {
			border-top: none;
		}

.site-footer {
	border-top: $border-dark;
	padding-top: $whitespace-large;
}

	.site-footer .column {
		margin-bottom: $whitespace-large;
	}

	.site-footer .nav.column {
		grid-column-start: sidebar-left;
		grid-column-end: sidebar-right;

		@include break-medium {
			grid-row: 1 / -1;
		}
	}

	.site-footer .top-arrow.column {
		grid-column-start: sidebar-right;
		grid-column-end: content-right;

		@include break-medium {
			grid-column-start: page-nav-left;
			grid-row: 1 / -1;
		}
	}

	.site-footer .content.column {
		grid-column-start: sidebar-left;
		grid-column-end: content-right;

		@include break-medium {
			grid-column-start: content-left;
			grid-column-end: body-copy-right;
			grid-row: 1 / -1;
		}
	}

	.site-footer .column + .column {
	}

	.site-footer:after {
		background-image: $dither;
		content: "";
		display: block;
		height: calc(2 * $whitespace);
	}