@charset "utf-8";

@import "@primer/css/index";

// Base fonts
$font-family-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$font-family-mono:  "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$font-size-smaller: 0.75rem;  /* 12px */
$font-size-small:   0.875rem; /* 14px */
$font-size-base:    16px;
$font-size-large:   1.25rem;  /* 20px */
$line-height-base:  1.4;
$font-weight-base:  400;

// Break points
$break-phone:   480px;
$break-medium:  768px;
$break-large:  1200px;

@mixin break-phone  { @media (min-width: $break-phone)  { @content; }}
@mixin break-medium { @media (min-width: $break-medium) { @content; }}
@mixin break-large  { @media (min-width: $break-large)  { @content; }}

// Colours
$blue:       #e0ebec;
$red:        #ef4646;
$red-pale:   #fbd5d5;
$white:      #ffffff;
$mid-grey:   #555252;
$light-grey: #d0d7de;

$colour-text:        #111111;
$colour-text-footer: #bbbbbb;
$colour-text-muted:  #cccccc;

$colour-background:       $white;
$colour-background-muted: #f9f9f9;

// Borders
$border:      1px solid $light-grey;
$border-dark: 1px solid $mid-grey;

// Dimensions
$max-width:        1400px;
$max-width-home:     50rem;
$sidebar-width:      16rem;
$search-width:       15rem;
$whitespace-small: 0.75rem;
$whitespace:          1rem;
$whitespace-large:  1.5rem;
$icon-size:         2.5rem;

// Patterns
$dither:      url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Crect x='0.2' y='0.2' width='1.5' height='1.5'/%3E%3Crect x='4.2' y='4.2' width='1.5' height='1.5'/%3E%3C/g%3E%3C/svg%3E");
$dither-red:  url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Crect fill='%23ef4646' x='0.2' y='0.2' width='1.5' height='1.5'/%3E%3Crect fill='%23ef4646' x='4.2' y='4.2' width='1.5' height='1.5'/%3E%3C/g%3E%3C/svg%3E");
$dither-blue: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Crect fill='%232d9cdb' x='0.2' y='0.2' width='1.5' height='1.5'/%3E%3Crect fill='%232d9cdb' x='4.2' y='4.2' width='1.5' height='1.5'/%3E%3C/g%3E%3C/svg%3E");

@import
  "dtmbr/structure",
  "dtmbr/typography",
  "dtmbr/home",
  "dtmbr/about",
  "dtmbr/methods-table"
;